Repository UIOWAjohnsonhj/selt2022_teamprojects-team-6, changes with the owners that CODEOWNERS names for each.
All owners: @saanbe16, @aezouhri, @christianBaseme, @kianaerickson, @erbrewer, @bdesollar

CODEOWNERS:

* @saanbe16 @aezouhri

/db/  @saanbe16 @christianBaseme @kianaerickson

/spec/ @kianaerickson @erbrewer @bdesollar

/app/views @saanbe16
/app/controllers @bdesollar
/app/views @bdesollar

/app/views/main/forgotpassword.html.haml @christianBaseme
/app/views/main/sign_up.html.haml @aezouhri
/app/views/main/login.html.haml @christianBaseme
/app/ @saanbe16

/app/controllers/main_controller.rb @saanbe16 @christianBaseme @aezouhri
/CODEOWNERS @saanbe16

Added some css for the faculty.
  .idea/inspectionProfiles/Project_Default.xml
  app/assets/stylesheets/default.css
  app/views/faculty_members/sessions/new.html.erb
Owners: @saanbe16, @aezouhri

Added some css for the students.
  app/assets/stylesheets/default.css
  app/views/faculty_members/sessions/new.html.erb
  app/views/students/sessions/new.html.erb
Owners: @saanbe16

Added a nav bar and set up the forgot password_resets_controller.rb feature. Need to sit down with @christian to finish it with tokens.
  .idea/selt2022_teamprojects-team-6.iml
  app/assets/stylesheets/application.css
  app/controllers/password_resets_controller.rb
  app/views/layouts/application.html.haml
Owners: @saanbe16, @aezouhri

Cleaned up main page, need to add a mini tutorial for how to use.
  app/assets/stylesheets/default.css
  app/views/main/index.html.haml
Owners: @saanbe16

Created the landing page for to type in the email
  app/views/main/login.html.haml
  app/views/main/reset_password_one.html.erb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

Working on using email to send the password reset link, right now not working still figuring out
  app/views/main/login.html.haml
  app/views/password_resets/new.html.erb
  config/environments/development.rb
  config/routes.rb
Owners: @saanbe16, @aezouhri

Methods for passwords reset the functions not working for now. Am Pushing so that @aezouhri can take a look
  app/controllers/password_resets_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/password_mailer.rb
  app/views/password_mailer/reset.html.erb
  app/views/password_mailer/reset.text.erb
  app/views/password_resets/edit.html.erb
  bin/update
  config/application.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

"Controller": password_reset_mailer.rb definition need to have the same name as the erb files
  app/mailers/password_reset_mailer.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

Generated the different mailer files
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
  app/controllers/password_resets_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/password_recovery_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/password_recovery_mailer/password_recovery.html.erb
  app/views/password_recovery_mailer/password_recovery.text.erb
  spec/fixtures/password_recovery/password_recovery
  spec/mailers/password_recovery_spec.rb
  spec/mailers/previews/password_recovery_preview.rb
Owners: @saanbe16, @aezouhri, @kianaerickson, @erbrewer, @bdesollar

Controller runs properly without calling any error and calling the nailer class.
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile
  Gemfile.lock
  app/controllers/password_resets_controller.rb
  app/mailers/password_mailer.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

Emails get sent, need to add token. Will work on it with @christian
  app/controllers/password_resets_controller.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

To set up you need to enable 2 factor on your google account and request an "App password."
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

"Controller": password_reset_mailer.rb definition need to have the same name as the erb files
  app/controllers/password_resets_controller.rb
  app/mailers/password_mailer.rb
  app/mailers/password_reset_mailer.rb
  app/views/password_reset_mailer/password_reset.html.erb
  app/views/password_reset_mailer/password_reset.text.erb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

Added a nav bar and set up the forgot password_resets_controller.rb feature. Need to sit down with @christian to finish it with tokens.
  .idea/selt2022_teamprojects-team-6.iml
  app/assets/stylesheets/application.css
  app/controllers/password_resets_controller.rb
  app/views/layouts/application.html.haml
Owners: @saanbe16, @aezouhri

Cleaned up main page, need to add a mini tutorial for how to use.
  app/assets/stylesheets/default.css
Owners: @saanbe16

Rebase
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
Owners: @saanbe16, @aezouhri

Removing nav bar temporarily.
  app/assets/stylesheets/application.css
  app/assets/stylesheets/default.css
Owners: @saanbe16

Removing css components.
  app/assets/stylesheets/application.css
  app/views/layouts/application.html.haml
Owners: @saanbe16

Had to delete a route that was duplicated.
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
  config/routes.rb
Owners: @saanbe16, @aezouhri

rebasing
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile
  Gemfile.lock
  app/controllers/emails_controller.rb
  app/controllers/faculty_members_controller.rb
  app/views/faculty_members/email_applicant.html.haml
  app/views/main/general_sign_up.html.haml
  app/views/main/index.html.haml
  app/views/main/login.html.haml
  app/views/main/sign_up.html.haml
  app/views/main/sign_up_faculty.html.haml
  config/routes.rb
  db/migrate/20150809022253_create_students.rb
Owners: @saanbe16, @aezouhri, @christianBaseme, @kianaerickson

set up Active Record - need to test and find errors
  .gitignore
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
  app/controllers/emails_controller.rb
  app/controllers/faculty_members_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/email_students_mailer.rb
  app/views/email_students_mailer/notify_user.html.erb
  app/views/faculty_members/email_applicant.html.haml
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  config/application.yml
  config/environments/development.rb
  config/routes.rb
  db/migrate/20150809022253_create_students.rb
  spec/mailers/email_students_spec.rb
  spec/mailers/previews/email_students_preview.rb
Owners: @saanbe16, @aezouhri, @christianBaseme, @kianaerickson, @erbrewer, @bdesollar

email works - need to put it in the correct spot for implementation
  app/controllers/faculty_members_controller.rb
  app/mailers/email_students_mailer.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

email sent when user is accepted
  app/controllers/faculty_members_controller.rb
  app/mailers/email_students_mailer.rb
  app/views/email_students_mailer/user_accepted.html.erb
Owners: @saanbe16

added rejection email to trigger when decision has been made
  app/controllers/faculty_members_controller.rb
  app/mailers/email_students_mailer.rb
  app/views/email_students_mailer/user_denied.html.erb
Owners: @saanbe16

almost everything done with email. Just have an undefined method error. Also needs to be implemented within faculty
  app/controllers/faculty_members_controller.rb
  app/mailers/email_students_mailer.rb
  config/environments/development.rb
Owners: @saanbe16, @aezouhri

added waitlist email to trigger when decision has been made
  app/controllers/faculty_members_controller.rb
  app/mailers/email_students_mailer.rb
  app/views/email_students_mailer/user_waitlisted.html.erb
Owners: @saanbe16

fixed the dynamic fields within the email
  app/views/email_students_mailer/user_accepted.html.erb
Owners: @saanbe16

welcome email
  app/views/email_students_mailer/create_account.text.erb
Owners: @saanbe16

wrote the denied and waitlisted email
  app/mailers/email_students_mailer.rb
  app/views/email_students_mailer/user_denied.html.erb
  app/views/email_students_mailer/user_waitlisted.html.erb
Owners: @saanbe16

added logic into controllers
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
  app/controllers/faculty_members_controller.rb
  app/controllers/main_controller.rb
  app/controllers/students/registrations_controller.rb
  app/helpers/movies_helper.rb
Owners: @saanbe16, @aezouhri, @christianBaseme

took off email button
  app/views/main/index.html.haml
Owners: @saanbe16

finishing search instructors
  app/controllers/main_controller.rb
  app/views/main/search_instructor.html.haml
Owners: @saanbe16, @christianBaseme, @aezouhri

finishing search instructors
  Gemfile.lock
  app/controllers/main_controller.rb
  app/views/faculty_members/passwords/new.html.erb
  app/views/faculty_members/registrations/edit.html.erb
  app/views/layouts/application.html.haml
  app/views/main/search_universities.html.erb
  app/views/students/passwords/new.html.erb
  app/views/students/registrations/edit.html.erb
Owners: @saanbe16, @aezouhri, @christianBaseme

Fixing small error
  app/controllers/faculty_members_controller.rb
Owners: @saanbe16

fixed email errors
  app/views/email_students_mailer/user_accepted.html.erb
  app/views/email_students_mailer/user_denied.html.erb
  app/views/email_students_mailer/user_waitlisted.html.erb
  features/send_emails.feature
Owners: @saanbe16, @aezouhri

fixed typo in feature
  features/create_account.feature
Owners: @saanbe16, @aezouhri

Added in new css and fixed gpa issues.
  app/assets/stylesheets/default.css
  app/controllers/main_controller.rb
  app/views/faculty_members/sessions/new.html.erb
  app/views/main/edit_profile.html.erb
  app/views/main/view_profile.html.erb
Owners: @saanbe16, @christianBaseme, @aezouhri

Added in new css and a new part for commenting on students page.
  .idea/selt2022_teamprojects-team-6.iml
  Gemfile.lock
  app/assets/stylesheets/default.css
  app/controllers/faculty_members_controller.rb
  app/controllers/profiles_controller.rb
  app/views/profiles/profile_viewer.html.erb
Owners: @saanbe16, @aezouhri

Added in professor being able to see all the application they have commented and made a decision for.
  app/controllers/faculty_members_controller.rb
  app/controllers/profiles_controller.rb
  app/views/faculty_members/my_evaluations.html.erb
  app/views/profiles/profile_viewer.html.erb
  config/routes.rb
Owners: @saanbe16, @aezouhri

Added in new css for tables.
  app/assets/stylesheets/default.css
Owners: @saanbe16
